@charset "UTF-8";

/*global*/
html{height: 100%;}
/*body{margin: 0;height: 100%;font-size:14px; line-height:160%;color: #666;background-color: #eeeeee}*/
body{margin: 0;height: 100%;font-size:14px; line-height:160%;color: #666;background-image: url("/static/img/bg.jpg")}
body, input, button, select, textarea, h1, h2, h3, h4, h5, h6{font-family:'Helvetica Neue', 'STHeiti', 'Microsoft YaHei', Helvetica,Arial,sans-serif;}
ul, ol, li{margin:0;padding:0;list-style:none;}
h1, h2, h3, h4, h5, h6{margin-top:0;line-height: 1.7;}
a{cursor: pointer;outline: none;text-decoration: none}
a:hover{text-decoration: none;}
a:focus{text-decoration: none;outline: none !important;}
.error {color: red;}
.hide {display: none}
/*endGlobal*/


/*reWangEditor*/
.wangEditor-container {
    border-radius: 8px;
    min-width: 836px;
    margin-left: -12px;
    border: 1px solid #ccc
}

.wangEditor-menu-container {
    border-radius: 8px;
}
/*endReWang*/

/*reBootstrap*/
.modal-title {
    text-align: center
}

.icon-bar {
    background-color: #fff;
}

.panel-heading {
    background-color: #f0f0f0
}

.navbar-brand {
    padding-top: 2px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
/*endReBootstrap*/

/*header*/
header{
    position:relative;
    width:100%;
    min-height:50px;
    /*background-color:#499ef3;*/
    background-color:#000;
}

#navbar > form input:focus {
    background: #f4f4f4;
}

#navbar > ul > li > a {
    color: #fff;
}

#navbar ul > li > a:focus, #navbar > ul > li > a:hover, #navbar > ul > li > a:active {
    text-decoration: none;
    background: #4dabff;
    color: #fff;
}

#navbar ol > li > a{
    padding: 0;
    line-height: 50px;
    margin: 0 4px;
}

#navbar ol > li > a:hover{
    color: #fff;
}

#search {
    width: 300px;
}

#navbar .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #4dabff;
    border-color: #337ab7;
}
/*end header*/



.nb-main {
 margin-top: 30px;
}

/*article*/
.article-content .title {
    border-bottom: 1px solid #eee;
    margin: 30px 0 15px 0;
    text-align: center;
}

.article-content .title p {
    margin-top: 15px;
}

.article-comment .comment {
    padding-bottom: 50px;
    border-bottom: 3px solid #f0ad4e;
}

.index-left-bar, .article-body, .article-comment {
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #e6e6e6;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/*endArticle*/



/*index*/
#index-add-article1 a:hover, #index-add-article1 a:active,
#index-add-article2 a:hover, #index-add-article2 a:active {
    background-color: #1e88e5;
}

.index-about {
    height: 500px;
    background-color: #fcfcfc
}

.item {
    position: relative;
    z-index: 0;
    min-height: 45px;
    padding: 14px 0 14px 60px;
    border-bottom: 1px solid #f3f3f3;
}

.item .item-author {
    color: #000000;
}

.item .item-img{
    position: absolute;
    left: 0;
}

.item .item-img img, .editor-img {
    width: 50px;
    height: 50px;
}
.editor-img {
    margin: 5px 0;
}

.item .item-content h4 {
    margin: 0 0 3px;
    padding-right: 20px;
    font-size: 14px;
    word-wrap: break-word;
}

.item .item-content p {
    margin: 0;
    color: #999;
}

.item .item-content p span {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
/*endIndex*/

/*editor*/
.editor-show-cata-img {
    margin-bottom: 20px;
    width: 838px;
    text-align: center;
}
/*endEditor*/

/*footer*/
footer {
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
    background: #332e36;
    border-top: 1px solid #1d111e;
    color: #fff;
    padding: 20px 0;
    margin-top: 20px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
    font-weight: bold;
}
/*endFooter*/

/*响应式*/
/* 超小屏幕（平板，大于等于 320px） */
@media (min-width: 320px) {
    #navbar ul > li > a {
        text-align: center;
    }
    #navbar ol > li > a {
        text-align: center;
    }
}


/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
    #navbar ul > li > a {
        text-align: center;
    }
    #navbar ol > li > a {
        text-align: center;
    }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
    .container{width: 1010px !important;}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
    .container{width: 1010px !important;}
}
